spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    # Put here your user name
    username: root
    # Put here your password
    password: root
    url: jdbc:mysql://localhost:3306/dndAdventure?createDatabaseIfNotExist=true
  jpa:
    #For MySQL 8 uncomment bellow (comment MySQL 5)
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  mvc:
    hiddenmethod:
      filter:
        enabled: true
dndadventures:
  webapp_url: http://localhost:4200
  secret: SECRET
  secure_token: false
  token_http_only: true
  is_prod: false
